.git
.github
node_modules
vendor
.env
.env.*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/products
storage/app/public/*.jpg
storage/app/public/*.jpeg
storage/app/public/*.png
storage/app/public/*.webp
bootstrap/cache/*.php
database/12database.sqlite
tests
